{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static "boostrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "fontawesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/catalogue.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "JPlist/jplist.core.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "JPlist/jplist.textbox-filter.min.css" %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- demo -->
        <div id="catalogue">

           <!-- panel -->
           <div class="jplist-panel">
                <!-- filter by id-->
                <div
                    class="jplist-drop-down"
                    data-control-type="filter-drop-down"
                    data-control-name="id-filter"
                    data-control-action="filter">
                    <ul>
                        <li><span data-path="default">Filter by category</span></li>
                        <li><span data-path=".9">9</span></li>
                        <li><span data-path=".8">8</span></li>
                        <li><span data-path=".31">31</span></li>
                        <li><span data-path=".nature">Nature</span></li>
                        <li><span data-path=".other">Other</span></li>
                    </ul>
                </div>
                <!-- filter by title -->
                <div class="text-filter-box">
                   <i class="fa fa-search  jplist-icon"></i>
                   <input
                      data-path=".title"
                      type="text"
                      value=""
                      placeholder="Filter by Title"
                      data-control-type="textbox"
                      data-control-name="title-filter"
                      data-control-action="filter"
                   />
                </div>
           </div>
           <!-- HTML data -->
           <div class="list">
               {% for jeu in jeux %}
                <div class="list-item">
                   <p class="title">{{jeu.nomDuJeu}}</p>
                   <p class="{{jeu.id}}">{{jeu.id}}</p>
                </div>
                {% endfor %}
           </div>

           <!-- no results found -->
           <div class="jplist-no-results">
              <p>Aucun résultat</p>
           </div>

        </div>

      <!-- Modale --><!--
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Titre de la modale</h4>
                  </div>
                  <div class="modal-body">

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary"><i class="icon icon-check icon-lg"></i> Valide</button>
                      <button type="button" class="btn btn-inverse" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
                  </div>
              </div>
          </div>
      </div>

        <div class="panel panel-default">
          {% if user.is_authenticated %}
          <a class="btn btn-lg btn-primary" href="../deconnexion" data-toggle="modal">Deconnexion</a>
          {% else %}
          <a class="btn btn-lg btn-primary launch-modal"  data-url="../connexion">Connexion</a>
          {% endif %}
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#home" role="tab">Catalogue</a></li>
                  {% if user.is_authenticated %}
                    <li><a href="mesJeux" role="tab" >Mes jeux</a></li>
                    <li><a href="#messages" role="tab">Mon historique</a></li>
                    <li><a href="profil/{{user.id}}" role="tab">Mon profil</a></li>
                  {% endif %}
                </ul>
                </br>

                <div id="placeHolder"></div><br/><br/>

                <div id="reset" style="display: none;"><button>reset</button></div>

                <div id="pagination"></div>

                <ul id="container">
                    {% for jeu in jeux %}
                        <li data-proprietaire="{{ jeu.proprietaire }}"
                            data-duree-Min="{{ jeu.dureeMin }}"
                            data-duree-Max="{{ jeu.dureeMax }}"
                            data-joueur-Max="{{ jeu.nombreDeJoueurMax }}"
                            data-joueur-Min="{{ jeu.nombreDeJoueurMin }}"
                            data-genre="{% for genre in jeu.genre.all %}{{ genre }}, {% endfor %}"
                            data-type="{% for type in jeu.typeDeJeu.all %}{{ type }}, {% endfor %}"
                            data-nom="{{ jeu.nomDuJeu }}">
                            <div class="panel-heading">
                                <a class="launch-modal"  data-url="fiche/{{ jeu.id }}">{{ jeu.nomDuJeu }}</a></br>
                            </div>
                            {% if jeu.image|length > 0 %}
                              <img src="{{ MEDIA_URL }}{{jeu.image}}"  width="150px" class="img-rounded launch-modal"  data-url="fiche/{{ jeu.id }}">
                            {% else %}
                              <img src="{% static "picture.png" %}"  width="150px" class="img-rounded launch-modal"  data-url="fiche/{{ jeu.id }}">
                            {% endif %}
                            <br/><br/>
                            <i class="fa fa-cube" aria-hidden="true"></i>
                            {% for genre in jeu.genre.all %}{{ genre }}<br/>{% endfor %}<br/>
                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                            {% for type in jeu.typeDeJeu.all %}{{ type }}<br/>{% endfor %}<br/>
                            <i class="fa fa-users" aria-hidden="true"></i> {{ jeu.nombreDeJoueurMin }}-{{ jeu.nombreDeJoueurMin }}<br/>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{ jeu.dureeMin }}-{{ jeu.dureeMax }}<br/>
                        </li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
    -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static "boostrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "JPlist/jplist.core.min.js" %}"></script>
        <script src="{% static "JPlist/jplist.pagination.min.js" %}"></script>
        <script src="{% static "JPlist/jplist.sort.min.js" %}"></script>
        <script src="{% static "JPlist/jplist.textbox-filter.min.js" %}"></script>
        <script src="{% static "JPlist/jplist.filter-dropdown.min.js" %}"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            $(".launch-modal").click(function(){
                var content = $(this).data('url');
              $("#myModal").modal({
                remote: content,
              });
            });
          });
          $('#myModal').on('hide.bs.modal', function(){
             $(this).removeData('bs.modal');
          });
        </script>
        <script>
       $('document').ready(function(){

          //check all jPList javascript options here
          $('#catalogue').jplist({
             itemsBox: '.list',
             itemPath: '.list-item',
             panelPath: '.jplist-panel'
          });

       });
       </script>

    </body>
</html>
