<div class="modal-body">
{% load static %}

    <body>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Présentation du jeu
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <h4>{{ jeu.nomDuJeu }}</h4>
                  {% if jeu.image|length > 0 %}
                    <img src="{{ MEDIA_URL }}{{ jeu.image }}" height="30%" width="25%"></br>
                  {% else %}
                    <img src="{% static "picture.png" %}" height="30%" width="25%"></br>
                  {% endif %}
                  <strong>Description:</strong></br>
                  {{ jeu.description }}</br></br>
                  <strong>Genre:</strong></br>
                  {% for genre in jeu.genre.all %}{{ genre }}<br/>{% endfor %}</br>
                  <strong>Type de jeu:</strong></br>
                  {% for type in jeu.typeDeJeu.all %}{{ type }}<br/>{% endfor %}</br>
                  <strong>Public:</strong></br>
                  {{ jeu.public }}</br></br>
                  <strong>Durée:</strong></br>
                  Entre {{ jeu.dureeMin }} et {{ jeu.dureeMax }} minutes</br></br>
                  <strong>Nombre de joueur:</strong></br>
                  De {{ jeu.nombreDeJoueurMin }} à {{ jeu.nombreDeJoueurMax }}</br></br>
                </div>
              </div>
            </div>
            {% if user.is_authenticated %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Emprunt
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                1
                </div>
              </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Avis
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                3
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
</div>
<div class="modal-footer">
  <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
</div>
