{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static "boostrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "fontawesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "filtrify/css/filtrify.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/isotope.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/catalogue.css" %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="panel panel-default">
          {% if user.is_authenticated %}
          <a class="btn btn-lg btn-primary" href="../deconnexion">Deconnexion</a>
          {% else %}
          <a class="btn btn-lg btn-primary" href="../connexion">Connexion</a>
          {% endif %}
        <button type="button" data-toggle="modal" class="btn btn-primary btn-lg" href="nouveauJeu" data-target="#myModal"><i class="icon icon-sign-out icon-lg"></i>+</button>
        <!-- Modal HTML -->
           <div id="myModal" class="modal fade">
               <div class="modal-dialog">
                   <div class="modal-content">
                   </div>
               </div>
           </div>
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                  <li><a href="accueil" role="tab">Catalogue</a></li>
                  {% if user.is_authenticated %}
                    <li  class="active"><a href="mesJeux" role="tab">Mes jeux</a></li>
                    <li><a href="#messages" role="tab">Mon historique</a></li>
                    <li><a href="profil/{{user.id}}" role="tab">Mon profil</a></li>
                  {% endif %}
                </ul>
                </br>
                <div id="placeHolder"></div><br/><br/>

                <div id="reset" style="display: none;"><button>reset</button></div>

                <div id="pagination"></div>

                <ul id="container">
                    {% for jeu in jeux %}
                        <li data-nom="{{ jeu.nomDuJeu }}"
                            data-genre="{% for genre in jeu.genre.all %}{{ genre }}, {% endfor %}"
                            data-type="{% for type in jeu.typeDeJeu.all %}{{ type }}, {% endfor %}"
                            data-duree-Min="{{ jeu.dureeMin }}"
                            data-duree-Max="{{ jeu.dureeMax }}"
                            data-joueur-Max="{{ jeu.nombreDeJoueurMax }}"
                            data-joueur-Min="{{ jeu.nombreDeJoueurMin }}">
                            <div class="panel-heading">
                                <a class="launch-modal"  data-url="fiche/{{ jeu.id }}">{{ jeu.nomDuJeu }}</a></br>
                                <a class="btn btn-large btn-danger launch-modal" data-url="comfirmer/{{ jeu.id }}">
                                  <i class="fa fa-times" aria-hidden="true"></i>
                                </a></br>
                                <a class="btn btn-large btn-primary launch-modal" data-url="editer/{{ jeu.id }}">
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a></br>
                            </div>
                            {% if jeu.image|length > 0 %}
                              <img src="{{ MEDIA_URL }}{{jeu.image}}"  width="150px" class="img-rounded launch-modal"  data-url="fiche/{{ jeu.id }}">
                            {% else %}
                              <img src="{% static "picture.png" %}"  width="150px" class="img-rounded launch-modal"  data-url="fiche/{{ jeu.id }}">
                            {% endif %}
                            <br/><br/>
                            <i class="fa fa-cube" aria-hidden="true"></i>
                            {% for genre in jeu.genre.all %}{{ genre }}<br/>{% endfor %}<br/>
                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                            {% for type in jeu.typeDeJeu.all %}{{ type }}<br/>{% endfor %}<br/>
                            <i class="fa fa-users" aria-hidden="true"></i> {{ jeu.nombreDeJoueurMin }}-{{ jeu.nombreDeJoueurMin }}<br/>
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{ jeu.dureeMin }}-{{ jeu.dureeMax }}<br/>
                        </li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static "boostrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "filtrify/js/filtrify.min.js" %}"></script>
        <script src="{% static "js/isotope.min.js" %}"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            $(".launch-modal").click(function(){
                var content = $(this).data('url');
              $("#myModal").modal({
                remote: content,
              });
            });
          });
          $('#myModal').on('hide.bs.modal', function(){
             $(this).removeData('bs.modal');
          });
        </script>
        <script>
        $(function() {

            var container = $("#container");

            container.isotope({
                itemSelector : 'ul#container > li',
                layoutMode : 'fitRows'
            });

           var ft =  $.filtrify("container", "placeHolder", {
                hide     : false,
                close    : true,
                callback : function ( query, match, mismatch ) {
                    container.isotope({ filter : $(match) });
                    if ( mismatch.length ) $("div#reset").show();
                    else $("div#reset").hide();
                }

            });
            $("div#reset button").click(function() {
              ft.reset();
            });
        });
        </script>

    </body>
</html>
