{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static "boostrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
    </head>
    <body>

        <a class="btn btn-lg btn-primary" href="#myModal" data-toggle="modal">Nouveau jeu</a>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Nouveau jeu</h4>
              </div>
              <form class="form-horizontal" action="{% url "nouveauJeu" %}" method="post">
                  <div class="modal-body">
                      {% csrf_token %}
                      {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </form>
            </div>
          </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static "boostrap/js/bootstrap.min.js" %}"></script>
    </body>
</html>
