{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static "boostrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "dataTables/media/css/jquery.dataTables.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "fontawesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="panel panel-default">
          {% if user.is_authenticated %}
          <a class="btn btn-lg btn-primary" href="../deconnexion" data-toggle="modal">Deconnexion</a>
          <a class="btn btn-lg btn-primary" href="profil/{{ user.id }}" data-toggle="modal">{{ user.username }}</a>
          {% else %}
          <a class="btn btn-lg btn-primary" href="../connexion" data-toggle="modal">Connexion</a>
          {% endif %}

            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                  <li><a href="../accueil" role="tab">Catalogue</a></li>
                  {% if user.is_authenticated %}
                    <li><a href="../mesJeux" role="tab">Mes jeux</a></li>
                    <li><a href="#messages" role="tab">Mon historique</a></li>
                    <li class="active"><a href="" role="tab">Mon profil</a></li>
                    {% for onglet in onglets %}
                        <li {% if onglet.jeu.id == jeu.id %} class="active" {% endif %}>
                            <a href="{{onglet.jeu.id}}" role="tab">{{onglet.jeu.nomDuJeu}}</a>
                            <a href="../fermerOnglet/{{onglet.id}}">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endfor %}
                  {% endif %}
                  </ul>
                </div>

          <div id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                  </div>
              </div>
          </div>
          <div>
            Profil de {{ profil.username }}<a class="btn btn-large btn-primary launch-modal" data-url="../editerProfil">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            </br>

            {% if profil.profil.avatar|length > 0 %}
              <img src="{{ MEDIA_URL }}{{ profil.profil.avatar  }}" width="15%"></br></br>
            {% else %}
              <img src="{% static "picture.png" %}"  width="150px"></br></br>
            {% endif %}
            {{ profil.first_name }} {{ profil.last_name }}</br></br>
            {% if user == profil or profil.profil.afficheMail == True  %}
              Adresse Email: {{ profil.email }}</br></br>
            {% endif %}
            {% if user == profil or profil.profil.afficheTelephone == True %}
              Téléphone: {{ profil.profil.telephone }}</br></br>
            {% endif %}
            {% if user == profil or profil.profil.afficheAdresse == True %}
              Adresse: </br>
              {{ profil.profil.rue }}, {{ profil.profil.numero }}</br>
              {{ profil.profil.codePostal }} {{ profil.profil.commune }}</br></br>
            {% endif %}


            Durée maximum de prêt: {{ profil.profil.pretParDefaut }} jours
          </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static "boostrap/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            $(".launch-modal").click(function(){
                var content = $(this).data('url');
              $("#myModal").modal({
                remote: content,
              });
            });
          });
          $('#myModal').on('hide.bs.modal', function(){
             $(this).removeData('bs.modal');
          });
        </script>
    </body>
</html>
