<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Comfirmer la suppression</h4>
</div>

<div class="modal-body">
    <p>Etes-vous certain de vouloir effacer  ""{{jeu.nomDuJeu}}""</p>
    <p class="debug-url"></p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
    <a class="btn btn-danger btn-ok" href="supprimer/{{jeu.id}}">Supprimer</a>
</div>
<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
  $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

  $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
});
</script>
